.sfWidgetFormChoiceState fieldset {float: left;margin-right: 5px;padding: 2px;text-align: left;width: 120px;height: 200px;font-size: 9px;background-color: #dedede;}
.sfWidgetFormChoiceState legend {padding: 2px;background-color: #fff;border: 1px solid #dedede;}
.sfWidgetFormChoiceState fieldset ul {padding:0;margin: 0; list-style: none;}
.sfWidgetFormChoiceState fieldset li {padding:0;margin: 0;}
.sfWidgetFormChoiceState fieldset input {padding:0;margin: 2px;}
.sfWidgetFormChoiceState label {display: inline;float: none;margin:0;padding:0;}