CEP_Brazil:
  connection: doctrine
  tableName: CEP_Brazil
  columns:
    id:
      type: integer(8)
      autoincrement: true
      primary: true
    bai_no:
      type: string(70)
      fixed: false
      unsigned: false
      primary: false
      notnull: false
      autoincrement: false
    cep:
      type: string(8)
      fixed: true
      unsigned: false
      primary: false
      notnull: false
      autoincrement: false
    log_tipo_logradouro:
      type: string(30)
      fixed: false
      unsigned: false
      primary: false
      notnull: false
      autoincrement: false
    log_no_sem_acento:
      type: string(70)
      fixed: false
      unsigned: false
      primary: false
      notnull: false
      autoincrement: false
    loc_nosub:
      type: string(50)
      fixed: false
      unsigned: false
      primary: false
      notnull: false
      autoincrement: false
    ufe_no:
      type: string(20)
      fixed: false
      unsigned: false
      primary: false
      notnull: false
      autoincrement: false
    ufe_sg:
      type: string(2)
      fixed: true
      unsigned: false
      primary: false
      notnull: false
      autoincrement: false
    log_complemento:
      type: string(120)
      fixed: false
      unsigned: false
      primary: false
      notnull: false
      autoincrement: false
    log_no:
      type: string(70)
      fixed: false
      unsigned: false
      primary: false
      notnull: false
      autoincrement: false
    log_nome:
      type: string(120)
      fixed: false
      unsigned: false
      primary: false
      notnull: false
      autoincrement: false
    bai_no_abrev:
      type: string(40)
      fixed: false
      unsigned: false
      primary: false
      notnull: false
      autoincrement: false
